.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #e23744;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar-links button {
    background: none;
    border: none;
    cursor: pointer;
    color:#e23744;
  }